<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/sign_up">
    username:<input type="text" name="username"><br>
    password:<input type="password" name="password"><br>
    password again:<input type="password" name="password_again"><br>
    name:<input type="text" name="name"><br>
    email:<input type="text" name="email"><br>
    phone:<input type="text" name="phone"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>